@import url('https://fonts.googleapis.com/css?family=Dosis|Open+Sans');

$green: #88BB92;
$blue: #99cfb7;
$red: #cb7567;
$black: #414e4e;
$white: #e6eded;



$large-font: 'Dosis', sans-serif;
$small-font: 'Open Sans', sans-serif;

$fa-font-path: "../webfonts";


