<div class="container">
    <div class="scrollable tipsandtools">
      <div class="content">
          <h1>Tips and Tools</h1>
          <select [(ngModel)]="selected" (change)="filterResult()">
              <option *ngFor="let option of options" [ngValue]="option.value">{{option.name}}</option>
            </select>
            <div *ngFor="let item of result">
              <div class="video" *ngIf="item.type === 'node--video'" >
                <a [href]="item.attributes.field_video_url.uri">
                    <h3>{{ item.attributes.title }}</h3>
                    <img [src]="getThumbnailImage(item)" alt="thumbnail" />
                </a>
              </div>
              <a class="tip" *ngIf="item.type === 'node--tip'" routerLink='/tipsandtools/tip/{{item.id}}'>
                <div>
                  <h3>{{ item.attributes.title }}</h3>
                  <div [innerHTML]="item.attributes.body.summary"></div>
                </div>
              </a>
              <a class="article" *ngIf="item.type === 'node--article'" routerLink='/tipsandtools/article/{{item.id}}'>
                <div>
                  <h3>{{ item.attributes.title }}</h3>
                  <div [innerHTML]="item.attributes.body.summary"></div>
                </div>
              </a>
              <div class="meme" *ngIf="item.type === 'node--meme'">
                <h3>{{ item.attributes.title }}</h3>
                <img *ngIf="item.attributes.field_image_link" [src]="item.attributes.field_image_link.uri" alt="thumbnail" />
              </div>
            </div>
      </div>
    </div>
  </div>
